/* For desktop screens and larger */
.calculatorDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
}

.divResult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 10vh;
}

.divResultinside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 1vh;
  margin: 2vh;
}

/* Media query for screens with a maximum width of 768px (typical for mobile) */
@media (max-width: 768px) {
  .calculatorDiv {
    /* Change to flex column layout for mobile */
    flex-direction: column;
  }

  .divResult {
    /* Adjust styles as needed for mobile */
    flex-direction: column;
    align-items: center;
    margin: 2vh;
  }

  .divResultinside {
    /* Adjust styles as needed for mobile */
    margin: 2vh;
  }
}

/* Media query for screens between 812px and 1138px (iPhone 12 to iPad) */
@media (min-width: 812px) and (max-width: 1138px) {
  .calculatorDiv {
    /* Change to flex column layout for this screen size range */
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
  }

  .divResult {
    /* Adjust styles as needed for this screen size range */
    flex-direction: column;
    align-items: center;
    margin: 2vh;
  }

  .divResultinside {
    /* Adjust styles as needed for this screen size range */
    margin: 2vh;
  }
}
