.liSearchByBrand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px;
  gap: 1vh;
}
.buttonSearchByBrand {
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  background-color: rgb(21, 220, 21);
  margin-left: 1vh;
}

.formSearchByBrand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px;
  gap: 1vh;
}
.ulDeviceSearchByBrand {
  list-style-type: none;
}
.searchEanAndbrand {
  border: 1px solid #000;
  margin: 3vh;
}
.resultSearchBrand {
  font: bold !important;
}

/* DeviceSearchByBrand.css or your custom CSS file */

.card {
  max-width: 400px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.cardTitle {
  font-size: 1.2rem;
  margin: 10px 0;
}

.cardCategory,
.cardWatt {
  font-size: 1rem;
  color: #777;
}

/* Add this CSS to style all buttons in your application */

/* Style for all buttons */
button {
  background-color: #16b71e; /* Change the background color as needed */
  color: #fff; /* Text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px; /* Add some margin between buttons */
}

button:hover {
  background-color: #0056b3; /* Change the background color when hovering */
}
