nav {
  display: flex;
  flex-direction: row;
}
.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
  gap: 1vh;
  color: aliceblue;
  list-style-type: none;
}

header {
  background-color: black;
}
.aNav {
  color: aliceblue;
}
