/* Regular styles for larger screens */
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formSuppliers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.buttonSupplier {
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  background-color: aqua;
}
.supplierCreation {
  border: 1px solid #000;
  margin: 3vh;
  width: 140vh;
}

/* Media query for phone-sized screens */
@media (max-width: 767px) {
  .form-container,
  .formSuppliers {
    flex-direction: column;
    margin-bottom: 1vh;
  }
}
